@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    justify-content: space-evenly;
}

*{
    box-sizing: border-box;
}

@media(max-width:770px){
    .col-md-6{
        width: 100%;
    }
    .col-md-12{
        width: 100%;
    }
    .col-md-4{
        width: 100%;
    }
}

.home_bg {
	/* background: rgba(0, 0, 0, 0.49) url(home_bg.jpeg) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
	height: 100%;
	width: 100%;
	margin-top: 10px; */
	/* background-blend-mode: darken; */
	background: rgba(0, 0, 0, 0.3) url(../img/5605216.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	background-blend-mode: darken;
	overflow: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* position: sticky; */
	z-index: 1;
	/* padding: 60px 0 40px 0; */
}
@media(max-width:770px){
    .form_heading svg text{
        font-size: 1rem;
    }
}
.btn{
    border-color: #114a96; background-color: #114a96;
    transition: 0.3s all linear;
}
.btn:hover{
    background: #102f58;
    /* letter-spacing: 2px; */
}